@import url("https://fonts.googleapis.com/css2?family=Farro&family=Mohave:wght@400;600;700&family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&family=Raleway&display=swap");

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
